:root {
  --random-delay: 0s;
  --color-blue: #09081e;
  --color-gray: #e9ebf3;
  --color-yellow: #ffd500;
  --color-light-purple: #98aaf1;
  --color-red: #ff7777;
  --logo-animation-duration: 8s;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  width: 100vw;
  background-color: var(--color-gray);
}

/* ================ page layout ================ */
body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--color-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  flex-direction: row;
  position: relative;
  padding: 5px 25px;
  border-bottom: 1px solid var(--color-gray);
}

.header .logo-container {
  position: relative;
  cursor: pointer;
  flex: 1;
  display: flex;
}

.logo-container .logo:nth-child(1) {
  animation: logoAnimation1 var(--logo-animation-duration) infinite;
}
.logo-container .logo:nth-child(2) {
  margin-left: auto;
  position: absolute;
  animation: logoAnimation2 var(--logo-animation-duration) infinite;
}

.footer {
  background-color: var(--color-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  flex-direction: row;
  position: relative;
  padding: 5px 25px;
  border-top: 1px solid var(--color-gray);
}
.footer .created-by {
  display: flex;
  direction: ltr;
  color: var(--color-yellow);
  gap: 5px;
  font-size: 12px;
}
.footer .created-by a {
  color: var(--color-yellow);
  opacity: 0.8;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 50px;
  flex-wrap: wrap;
  position: relative;
}

.section {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-columns: repeat(5, minmax(100px, 150px));
  grid-template-rows: repeat(4, minmax(120px, 1fr));

  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

#match-animation {
  position: relative;
  flex-basis: 200px;
  z-index: 1;
  width: 200px;
  margin: auto -100px;
}

#match-animation img {
  width: 100%;
}

@media (max-width: 1300px) {
  .section {
    flex: 1 0 100%;
  }

  #match-animation {
    margin: -100px auto;
  }
}

/* ================ card basic style ================ */
.card {
  perspective: 1000px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 3s ease;
  overflow: hidden;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================ style of card front image ================ */
.card-front .image-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.card-front .image-container {
  transition: all 0.5s ease, box-shadow 0.5s ease;
}

.card-front .image-container>img {
  width: 80%;
  margin: auto;
}

.card-front .emoji-container {
  padding-top: 75%;
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.card:not(.flipped):hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:not(.flipped):hover .image-container {
  transform: scale(1.2);
}

.card-back {
  transform: rotateY(180deg);
  text-align: center;
}

/* ============= style of card back ============= */
.card-back .card-details {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
}

.card-details .name {
  font-size: 32px;
  text-align: right;
  position: relative;
  padding: 3px 15px;
}

.card-details .properties, .card-back .looking-for {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-back .property {
  display: flex;
  margin-bottom: 5px;
  position: relative;
  padding: 2px 10px;
  margin-right: -10px;
}

.brush-highlight::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: var(--clip-path);
}

.highlight-yellow::before {
  background: var(--color-yellow);
}
.highlight-red::before {
  background: var(--color-red);
}
.highlight-natural::before {
  background: var(--color-gray);
}

.card-back .title {
  font-size: 20px;
  font-weight: 800;
  color: var(--color-blue);
  margin-bottom: 5px;
  text-align: right;
}

.card-back .property .key {
  font-weight: 800;
  margin-left: 10px;
}

/* ================ actvie card ================ */
.card.active {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--color-light-purple);
  box-shadow: 0 8px 16px 20px rgba(0, 0, 0, 0.2);
}

.placeholder {
  visibility: hidden;
}

/* ================ matched card ================ */
.card.matched:hover .image-container {
  display: none;
}

.card.matched:hover .emoji-container {
  display: block;
}


/* ================ timer ================ */
.timer-container {
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: var(--color-yellow);
  margin-right: auto;
}

.digit {
  display: inline-block;
  min-width: 20px;
  position: relative;
  overflow: hidden;
  /* Ensures content outside the bounds is hidden */
}

.digit.new {
  animation: slideUp 0.3s ease-in-out forwards;
}

.digit.old {
  animation: slideDown 0.3s ease-in-out forwards;
}

/* ================game over ================== */
.game-over-container {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 100;
  background-color: var(--color-blue);
  animation: fade-in 2s forwards;
}

.game-over-container .game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 50px 80px;
  border-radius: 20px;
  margin: auto;
  color: white;
}
.game-over-container .buttons {
  display: flex;
  gap: 20px;
}
.game-over-container button {
  border: none;
  padding: 10px 60px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-size: 2rem;
}
.game-over-container button:hover {
  transform: scale(1.04);
  opacity: 0.8;
}
#play-again {
  color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  background-color: transparent;
}
#go-to-site {
  background-color: transparent;
  background-color: var(--color-yellow);
  color: var(--color-blue);
}

.game-over .text-1 {
  color: #fff;
  background: linear-gradient(90deg, var(--color-yellow), var(--color-light-purple), var(--color-red));
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: zoomInOut 4s ease-in-out infinite, shimmer 1s linear infinite;
  text-align: center;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: auto;
}
.game-over .text-2 {
  font-size: 3rem;
  color: var(--color-gray);
  position: relative;
  padding: 5px 200px;
}

/* ================ animations ================ */
.rotate {
  transform-origin: center;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.swing {
  animation: swing 10s infinite;
  animation-delay: var(--random-delay);
}

@keyframes swing {
  0% {
    transform: rotate(0deg)
  }

  15% {
    transform: rotate(-15deg)
  }

  30% {
    transform: rotate(0deg)
  }

  45% {
    transform: rotate(15deg)
  }

  60% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(0deg)
  }
}

.zoom {
  animation: zoomInOut 4s ease-in-out infinite;
  transform-origin: center;
  animation-delay: var(--random-delay);
}
.zoom-once {
  animation: zoomInOutOnce var(--anim-duration, 1s) ease-in-out;
  animation-delay: var(--random-delay);
}

@keyframes zoomInOutOnce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.blink-bg-color {
  animation: blink 1s infinite;
  background-color: var(--blink-color, #98aaf1) !important;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.rotate-zoom {
  z-index: 100 !important;
  animation: rotate-zoom 4s forwards, blink 0.1s 3.5s step-end 20;
}

@keyframes rotate-zoom {
  0% {
    transform: rotate(0deg) scale(0.2);
  }

  100% {
    transform: rotate(10000deg) scale(3);
  }
}

.die-animation {
  z-index: 100 !important;
  animation: dieEffect 4s ease-out forwards;
}

@keyframes dieEffect {
  0% {
    transform: rotate(0deg) scale(4);
    opacity: 1;
    filter: hue-rotate(0deg);
  }

  50% {
    transform: rotate(90deg) scale(0.8);
    opacity: 0.8;
    filter: hue-rotate(90deg);
  }

  100% {
    transform: rotate(180deg) scale(0);
    opacity: 0;
    filter: hue-rotate(180deg);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes brushEffect {
  0% {
    background-size: 0% 100%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@keyframes logoAnimation2 {
  0% {
    right: 0;
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  99% {
    right: 90%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 0;
  }
}

@keyframes logoAnimation1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}